<div id="subsidyParent" class="au-c-body-container au-c-body-container--scroll">
  <div class="au-o-box au-u-max-width-medium">
    <AuAlert @title="Deze stap werd nog niet gestart." @skin="info" @icon="circle-step-1" @closable={{false}}>
      <p>Deze stap is actief maar werd nog niet gestart door de gebruiker.</p>
    </AuAlert>
  </div>
</div>