<div id="subsidyParent" class="au-c-body-container au-c-body-container--scroll">
  <div class="au-o-box au-u-max-width-medium">
    <AuAlert @title="Deze stap is overgeslagen." @skin="info" @icon="redo" @closable={{false}}>
      <p> Deze stap is niet ingediend, en dus ook niet verwerkt.</p>
    </AuAlert>
  </div>
</div>